{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron mt-5">
        <h1 class="display-4">reup</h1>
        <p class="lead">Simple tool to search for documents by the old ID.</p>
        <hr class="my-4">

        <form method="post">
            {% csrf_token %}
            <div class="form-group mr-sm-3">
                <label for="input">Search document</label>
                <input class="form-control" type="text" name="input" placeholder="Enter ID or url"/>
                <small id="input-help" class="form-text text-muted">Usage: Either enter an ID (e.g. 12345) or an url containing an ID (e.g. https://hoover.example.org/doc/kittens/12345/raw/lots-of-hair.pdf)</small>
            </div>
            <button type="submit" class="btn btn-primary">Revive</button>
        </form>

        <div class="text-danger pt-2">{{ message }}</div>

        {% if document %}
            <h6 class="pt-2">Result:</h6>
            <ul>
                <li>MD5: <a href="{{ urls.md5 }}">{{ document.md5 }}</a></li>
                <li>SHA1: <a href="{{ urls.sha1 }}">{{ document.sha1 }}</a></li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
